<%= form_for(@point_card, url: point_card_add_path) do |f| %>
  <% if @point_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@point_card.errors.count, "error") %> prohibited this @point_card from being saved:</h2>

      <ul>
      <% @point_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :point %>
    <%= number_field_tag :left %>
    <%= number_field_tag :right%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
