<%= form_for(point_card) do |f| %>
  <% if point_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point_card.errors.count, "error") %> prohibited this point_card from being saved:</h2>

      <ul>
      <% point_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :point %>
    <%= f.number_field :point %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
